@tailwind base;
@tailwind components;
@tailwind utilities;

#header {
    height: 20vh;
}

#logo {
    width: 7rem;
    height: auto;
    margin: 0 auto;
    display: block;
}

#account:hover {
    cursor: pointer;
}

#account-icon {
    width: 4rem;
    height: auto;
    margin: 0 auto;
    display: block;
}

#account-span {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin-left: 0.5rem;
}

#nav-item {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
  }
  
#nav-item:hover {
    background-color: #6969696c;
}

#sidebar {
    z-index: 1000; /* Ensures the sidebar appears above other content */
    overflow-y: auto; /* Allows scrolling if the content exceeds the height */
    transition: transform 0.3s ease;
  }
  
  /* Hide nav items and show the toggle button on smaller screens */
  @media screen and (max-width: 1004px) { /* Adjusted the breakpoint to 1004px */
    #nav-items {
      display: none;
    }
  
    #logo {
        width: 25vw;
        height: auto;
    }

    #account-icon {
        width: 10vw;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    #header {
        padding: 1rem 0;
    }
    
    #account-span {
        font-size: 4.2vw;
        font-weight: 500;
        color: #fff;
        margin-left: 0.5rem;
    }
    /* Style the toggle button */
    .fa-bars {
      font-size: 24px;
    }
  }
  

  